# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# IDE or editor-specific
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
